body{
	background-image: url("../images/bg.png");
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
}


.shadow {
  -moz-box-shadow:    2px 2px 5px #666;
  -webkit-box-shadow: 2px 2px 5px #666;
  box-shadow:         2px 2px 5px #666;
}

.feedholder {
	font-size: 13px;
	text-align: left;
	padding: 10px;
	height: 190px;
	overflow-y: scroll;
	overflow-x: hidden;
	list-style: circle;
	margin: 0px;
	font-family:'Helvetica Neue', Arial, sans-serif;
	list-style-position: inside;
}

.feedholder li {
	padding: 2px;
}

.feedholder li:hover {
	background-color: #e0e0e0;
}

.feedholder li a:hover {
	color: #484848;
}
 .feeditem {
 	color: black;	
 	margin-bottom: 10px;
 }
.feedcontainer {
	background-color: #F0F0F0;
	height:280px;
}

.feedcontainer:hover {
	background-color: #fff;
}

#footer {
	font-size: 10px;
	margin-top: 20px;
}
